<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <p>You have received a message from the site's contact form from</p>
        <%= "#{ @name }, #{ @email }" %>
        <p><%= @body %></p>
    </body>
    
</html>